<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>EnableHomeScreenAnimation</string>
                <key>label</key>
                <string>Enable Animation on Homescreen</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>cloud.sun.fill</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>EnableAnimationBackgroundHome</string>
                <key>label</key>
                <string>Enable Animation Background</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>rectangle.dashed</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            <dict>
                <key>id</key>
                <string>enableCustomLocation</string>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>EnableCustomLocationHome</string>
                <key>label</key>
                <string>Enable Custom Location</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>location.viewfinder</string>
                </dict>
            </dict>
            <dict>
                <key>id</key>
                <string>selectWeatherLocation</string>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Select Custom Location</string>
                <key>action</key>
                <string>presentWeatherPicker:</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            <dict>
                <key>id</key>
                <string>enableCustomAnimation</string>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>EnableCustomHomeCondition</string>
                <key>label</key>
                <string>Enable Custom Condition</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>sparkles</string>
                </dict>
            </dict>
            <dict>
                <key>id</key>
                <string>enableNightAnimation</string>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>HomeCustomLocationNight</string>
                <key>label</key>
                <string>Use Night Animations</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>moon.fill</string>
                </dict>
            </dict>
            <dict>
                <key>id</key>
                <string>selectCustomAnimation</string>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Select Custom Condition</string>
                <key>action</key>
                <string>presentConditionPicker:</string>
            </dict>
        </array>
        <key>title</key>
        <string>Home Screen</string>
    </dict>
</plist>
