<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>id</key>
                <string>banner</string>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>headerCellClass</key>
                <string>ASTBanner</string>
            </dict>
            <dict>
                <key>id</key>
                <string>buy</string>
                <key>big</key>
                <true/>
                <key>cellClass</key>
                <string>HBLinkTableCell</string>
                <key>height</key>
                <integer>64</integer>
                <key>label</key>
                <string>Buy Asteroid</string>
                <key>subtitle</key>
                <string>Please do not pirate</string>
                <key>url</key>
                <string>https://chariz.com/buy/asteroid</string>
            </dict>
            <dict>
                <key>id</key>
                <string>retry</string>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Recheck License</string>
                <key>action</key>
                <string>retry:</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>person.fill.questionmark</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>asteroidEnabled</string>
                <key>label</key>
                <string>Enable Tweak</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>HomeScreenController</string>
                <key>isController</key>
                <true/>
                <key>label</key>
                <string>Home Screen</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>house.fill</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>LockScreenController</string>
                <key>isController</key>
                <true/>
                <key>label</key>
                <string>Lock Screen</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>lock.fill</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>WeatherAppController</string>
                <key>isController</key>
                <true/>
                <key>label</key>
                <string>App Icon</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>cloud.sun.fill</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>StatusBarController</string>
                <key>isController</key>
                <true/>
                <key>label</key>
                <string>Status Bar</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>menubar.arrow.up.rectangle</string>
                </dict>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>detail</key>
                <string>AboutController</string>
                <key>isController</key>
                <true/>
                <key>label</key>
                <string>About</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>info.circle.fill</string>
                </dict>
            </dict>
        </array>
        <key>title</key>
        <string>Asteroid</string>
    </dict>
</plist>
