<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>headerCellClass</key>
                <string>ASTBanner</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>barterText</key>
                <string>Replace Carrier Text</string>
                <key>barterAlignment</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <integer>0</integer>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>StatusBarCarrierContent</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Original</string>
                    <string>Icon</string>
                    <string>Temperature</string>
                    <string>Both</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>barterText</key>
                <string>Add weather to the time.</string>
                <key>barterAlignment</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <integer>0</integer>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>StatusInlineContent</string>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                </array>
                <key>validTitles</key>
                <array>
                    <string>Original</string>
                    <string>Icon</string>
                    <string>Temperature</string>
                    <string>Both</string>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>barterText</key>
                <string>Tap time to view current conditions</string>
                <key>barterAlignment</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>me.midnightchips.asteroidpreferences</string>
                <key>key</key>
                <string>StatusTapTime</string>
                <key>label</key>
                <string>Enable tapping time.</string>
                <key>iconImageSystem</key>
                <dict>
                    <key>name</key>
                    <string>hand.tap.fill</string>
                </dict>
            </dict>
        </array>
        <key>title</key>
        <string>Status Bar</string>
    </dict>
</plist>
